@import url(./__add-button/profile__add-button.css);
@import url(./__avatar/profile__avatar.css);
@import url(./__edit-button/profile__edit-button.css);
@import url(./__info/profile__info.css);
@import url(./__job/profile__job.css);
@import url(./__name/profile__name.css);
@import url(./__avatar-button/profile__avatar-button.css);

.profile {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

@media screen and (max-width: 980px) {
  .profile {
    flex-direction: column;
  }
}
