.header__user-info{
  color: #fff;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  text-align: right;
  margin: 0 24px 0 0;
  padding: 0;
}