.cards {
  position: relative;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-column-gap: 17px;
  grid-row-gap: 20px;
  margin: 47px auto 66px;
}

@media screen and (max-width: 930px) {
  .cards {
    margin: 36px auto 48px;
  }
}
