.header__nav {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .header__nav{
    flex-direction: column;
    padding: 0 27px 0 0;
  }
}
