@import url(./__logo/header__logo.css);
@import url(./__link/header__link.css);
@import url(./__nav/header__nav.css);
@import url(./__nav/_media-hidden/header__nav_media-hidden.css);
@import url(./__button/header__button.css);
@import url(./__user-info/header__user-info.css);
@import url(./__burger-button/header__burger-button.css);
@import url(./__burger-button/_active/header__burger-button_active.css);
@import url(./__burger-button-span/header__burger-button-span.css);
@import url(./__burger-button-span/_active/header__burger-button-span_active.css);

.header {
  max-width: 882px;
  min-height: 120px;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  border-bottom: 1px solid rgba(84,84,84,0.7);
}

@media screen and (max-width: 1100px) {
  .header {
   width: 68.9%;
  }
}

@media screen and (max-width: 768px) {
  .header{
    width: 100%;
    min-height: 84px;
  }
}
